
/* login.html用の定義 */
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 2px solid rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#username {
	margin-bottom: 10px;
}

/** password reset link **/
#reset-link {
	margin-top: 20px;
	color: dimgray;
}
#reset-link:hover {
	color: blueviolet;
}

/** PW再設定ダイアログ **/
#mailSend {
	width: 40%;
	border: 1px solid lightgray;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
}
#dialog, dialog p {
	display: flex;
	align-items: center;
	justify-content: center;
}
dialog .link-list {
	padding: 5px 20px;
}

#mail-send {
	margin-top: 10px;
}
#closeDialog {
	margin-right: 20px;
}

.link-list {
	display: inline-block;
	margin-top: 10px;
	padding: 4px 20px;
	background-color: #555555; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
}
.link-list:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-list:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/** 更新ボタン **/
.link-update {
	display: inline-block;
	padding: 6px 20px;
	background-color: #3498db; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-update:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-update:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






