
body {
  font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  margin-bottom: 150px;
  background-color: #081d35;
  color: #ecf5ff;
}
main {
  width: 80%;
  margin: 0 auto;
}
h1 {
	margin-bottom: -50px;
}
#header-content {
	padding: 10px;
	float: right;
}
#toDoList {
	margin-bottom: 30px;
}
.userCount {
	margin-top: 50px;
	margin-bottom: -30px;
	font-weight: bold;
	font-size: 20px;
}
.csvDownload {
	margin-top: 30px;
	margin-bottom: -30px;
}

input {
	line-height: 2;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
}
th, td {
  padding: 0.5em;
  border-bottom: 1px solid#ddd; 
  text-align: left;
}

th button {
	background: #46aace;
	border: none;
}

.role {
	display: inline-block;
	padding: 4px 14px;
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 12px;
	border-radius: 4px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
		
}
#role-admin {
	background-color: darkred;
}
#role-general {
	background-color: dimgray;
}

.time-font-size {
	font-size: 14px;
}


/** ページリンクのレイアウト **/
.paging {
	margin: 25px 0;
	font-size: 16px;
	list-style-type: none;
	
	display: flex; 
	padding: 0;
	gap: 5px; 
}

.paging li {
	display: inline-block;
}

.paging a, .paging li span {

	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;                  /* ボタンサイズ */
	height: 36px;
	border: 1.5px solid #ddd;       /* 枠線と丸み */
	border-radius: 4px;
	color: #ecf5ff;
	text-decoration: none;
	transition: background-color 0.2s
}
/* ホバー時の背景色 */
.paging a:hover {
	background-color: #46aace;    
	transition: background-color 1.0s
}
/* 現在のページの背景色 */
.paging span.active {
	background-color: #055ec1;    
	border-color: #055ec1;
	color: #fff;
}



/** 編集ボタン **/
.link-edit {
	display: inline-block;
	margin-top: 10px;
	padding: 8px 20px;
	background-color: #3498db; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-edit:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-edit:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/** ユーザー作成 **/
#userCreateBtn {
	margin-top: 70px;
}
/** ログインしていない時のユーザー作成 **/
#no-login-user-registration {
	display:none;
}
/** 一覧表とタスク一覧リンクとのマージン調整 **/
#content {
	margin-top: 10px;
}

/** 戻るボタン  **/
.link-list {
	display: inline-block;
	margin-top: 10px;
	padding: 8px 20px;
	background-color: #555555; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
}
.link-list:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-list:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/** 更新ボタン **/
.link-update {
	display: inline-block;
	margin-top: 10px;
	padding: 4px 20px;
	background-color: #3498db; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-update:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-update:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/** 削除ボタン **/
.link-delete {
	display: inline-block;
	padding: 4px 20px;
	background-color: darkred; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-delete:hover {
	background-color: darkgray;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-delete:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::file-selector-button {
  background-color: darkgray;
  color: darkslategray;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 40px;
  border: none;
}
#upload-btn {
  background-color: seagreen;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
}

#detail, #create {
	width: 50%;	
	margin-top: 50px;
}

.delete {
	margin-top: 20px;
}

/** ダイアログ **/
dialog {
	border: 1px solid lightgray;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
}
#closeDialog {
	margin-right: 10px;
}
#delete-btn {
	margin-top: 8px;
}
#dialog {
	display: flex;
	align-items: center;
	justify-content: center;
}

dialog .link-list {
	padding: 5px 20px;
}

#accountDeleteDialog {
	padding: 30px 50px;	
	text-align: center;
}
#accountDeleteDialog p {
	font-size: 20px;
	color: #d32f2f;
}

#search-content {
	margin-top: 20px;
	margin-bottom: 20px;
}
.search-form {
	font-weight: bold;
	margin-top: 10px;
}
select {
	height: 30px;
}
.search-form select {
	margin-left: 60px;
}
#searchUserName {
	margin-left: 30px;
}
#searchBtn {
	float: left;
	margin-right: 10px;
}


#no-user {
	margin-top: 50px;
	font-size: 18px;
	font-weight: bold;
}

/** バリデーションエラー **/
.error {
	display: block;
	color: #d32f2f;
	font-size: 0.85em;
	margin-top: 4px;
	font-weight: normal;
}


