
body {
  font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  background-color: #EDEDED;
}
main {
  width: 80%;
  margin: 0 auto;
}
.container {
  margin-bottom: 100px;
}
h1 {
	margin-bottom: -50px;
}
#header-content {
	padding: 10px;
	float: right;
}
input {
	line-height: 2;
}

#content {
	margin-top: 10px;
	margin-bottom: 50px;
}
#task {
	margin-top: 20px;
	background-color: #ffffff;
	padding: 10px 30px;
	width: 60%;
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	border-radius: 5px; /* 角丸 */
	display: flex;
}
#todo-content {
	width: 70%;	
	overflow-wrap: anywhere;
}
#todo-content #content {
	font-size: 20px;
	font-weight: bold;
}
#todo-content #memo {
	color: gray;
	font-size: 14px;
}
#deadline-none, #deadline-list {
	margin: 20px 0 20px 0;
	color: dodgerblue;
	font-size: 16px;
}

#edit-delete-btn {
	margin-top: 10px;	
	margin-left:10px; 
}


.margin-top {
	margin-top: 70px;
}

/** 作成・ログアウトボタン・ユーザー一覧 **/
.link-edit {
	display: inline-block;
	padding: 8px 20px;
	background-color: #3498db; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-edit:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-edit:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/** タスク作成 **/
#todoCreate {
	padding: 4px 20px;
}

/** 戻るボタン  **/
.link-list {
	display: inline-block;
	margin-top: 10px;
	padding: 8px 20px;
	background-color: #555555; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
}
.link-list:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-list:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/** 編集ボタン **/
.link-update {
	display: inline-block;
	padding: 4px 20px;
	background-color: #3498db; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-update:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-update:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
/** 削除ボタン **/
.link-delete {
	display: inline-block;
	padding: 4px 20px;
	background-color: darkred; /* 背景色 */
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
}
.link-delete:hover {
	background-color: darkgray;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px); /* 少し上に浮き上がる */
}
.link-delete:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#userCreateBtn {
	margin-top: 10px;
}

/** ダイアログ **/
dialog {
	width: 300px;
	border: 1px solid lightgray;
	border-radius: 5px; /* 角丸 */
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1); /* 影 */
}
#closeDialog {
	margin-right: 10px;
}
#create-btn, #update-btn, #create-content-submit {
	margin-top: 8px;
}
#toDoCreateDialog p, #dialog, 
#input-edit-content, #input-create-content,
.buttons 
{
	display: flex;
	align-items: center;
	justify-content: center;
}
#delete-btn {
	margin-top: 8px;
}
#dialog p {
	font-size: 20px;
}
dialog p {
	display: flex;
	align-items: center;
	justify-content: center;
}

#input-create-content, #input-edit-content {
	width: 250px;
}
#input-create-content, .deadline-container,
.priority-container, #input-edit-content {
	margin-top: 20px;
}
.priority-container {
	margin-bottom: 20px;
}
.priority {
	display: inline-block;
	padding: 4px 14px;
	color: #ffffff; /* 文字色 */
	text-decoration: none; /* 下線を消す */
	font-weight: bold;
	font-size: 12px;
	border-radius: 4px; /* 角丸 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影 */
	transition: all 0.3s ease; /* アニメーションの設定 */
	width: max-content;
	border: none;
		
}
#priority-high {
	background-color: darkred;
}
#priority-medium {
	background-color: #ffd400;
}
#priority-low {
	background-color: green;
}
#priority-none {
	background-color: dimgray;
}


dialog .link-list {
	padding: 5px 20px;
}

/** バリデーションエラー **/
.error {
	display: block;
	color: #d32f2f;
	font-size: 0.85em;
/**	margin-top: 4px;  **/
	font-weight: normal;
}




