<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更画面</title>
	<link th:href="@{/style/style.css}" rel="stylesheet">
	<script th:src="@{/js/index.js}" charset="utf-8"></script>
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
</head>
<body>
	<main>
		<div class="container">
			<h1>パスワード変更</h1>
			<div id="header-content">
				<form th:action="@{/logout}" method="post">
				    <button class="link-edit" type="submit">ログアウト</button>
				</form>			
			</div>
			<div id="detail">
				<form method="post" th:action="@{/others/{id}/change-password-todo(id=${user.id})}"
				  th:object="${passwordChange}">
					<p class="error" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></p>
					<table class="table">
						<tbody>
							<tr>
								<th>現在のパスワード</th>
								<th>
									<input type="password" th:field="*{currentPassword}" size="35"/>
									<span class="error" th:errors="*{currentPassword}"></span>
								</th>
							</tr>
							<tr>
								<th>新規パスワード</th>
								<th>
									<input type="password" th:field="*{newPassword}" size="35"/>
									<span class="error" th:errors="*{newPassword}"></span>
								</th>
							</tr>
							<tr>
								<th>新規パスワード（確認）</th>
								<th>
									<input type="password" th:field="*{confirmPassword}" size="35"/>
									<span class="error" th:errors="*{confirmPassword}"></span>
								</th>
							</tr>
						</tbody>
					</table>
					<!-- ここにエラーをまとめて表示 -->
					<span class="error" th:text="${error}"></span>
					<a class="link-list" th:href="@{/others/{id}(id=${user.id})}">戻る</a>
					<input class="link-update" type="submit" value="パスワード変更"/>
				</form>		
			</div>
		</div>
	</main>
</body>
</html>
