<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
	<link th:href="@{/style/login.css}" rel="stylesheet">
	<script th:src="@{/js/index.js}" charset="utf-8"></script>
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">

</head>
<body>
	<main>
		<div class="container">
			<p>エラー発生しました</p>
			<p class="error" th:text="${error}"></p>
			<a class="link-list" th:href="@{/login}">戻る</a>
		</div>
	</main>
</body>
</html>
