<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧画面</title>
	<link th:href="@{/style/todo.css}" rel="stylesheet">
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">

</head>
<body>
	<main>
		<div class="container">
			<h1>タスク一覧</h1>
			<div id="header-content">
				<form th:action="@{/login}" method="post">
				    <button class="link-edit" type="submit">ログアウト</button>
				</form>			
			</div>
			<a class="link-edit" th:href="@{/api/users/create}" id="userCreateBtn">タスク作成</a>
			<div id="content">
				<div>
					<p th:unless="${todo} != null">タスクは存在しません</p>
				</div>
				<div th:each="task: ${todo}" id="task">
					<p th:if="${todo} != null" th:text="${task.content}"></p>

					<form method="post" th:action="@{/todo}" >
						<input class="link-update" type="submit" value="編集"/>
						<input class="link-delete" id="delete" type="button" value="削除" onclick="onClickDeleteBtn()"/>
					</form>											
				</div>
							
			</div>
			<div th:if="${role == 'Admin'}">
				<a class="link-edit" th:href="@{/api/users/user}" id="userCreateBtn">ユーザー一覧</a>
			</div>
		</div>
	</main>
	
</body>

