<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧画面</title>
	<link th:href="@{/style/todo.css}" rel="stylesheet">
	<script th:src="@{/js/index.js}" charset="utf-8"></script>
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">

</head>
<body>
	<main>
		<div class="container">
			<h1>タスク一覧</h1>
			<div id="header-content">
				<form th:action="@{/login}" method="post">
				    <button class="link-edit" type="submit">ログアウト</button>
				</form>			
			</div>
			<input class="link-edit" id="todoCreate" type="button" value="タスク作成" onclick="onClickCreateToDoBtn()"/>
			<div th:if="${role == 'Admin'}">
				<a class="link-list" id="userCreateBtn" th:href="@{/api/users/user}">ユーザー一覧</a>
			</div>
			<div id="content">
				<div>
					<p th:if="${#lists.isEmpty(todos)}">タスクは存在しません</p>
				</div>
				<div th:each="task: ${todos}" id="task">
					<p th:text="${task.content}"></p>

					<form method="post" th:action="@{/todo}" >
						<input class="link-update" type="submit" value="編集"/>
						<input class="link-delete" id="delete" type="button" value="削除" 
						th:data-id="${task.id}" 
						onclick="onClickDeleteToDoBtn(this)"/>
					</form>											
				</div>
							
			</div>
		</div>
	</main>
	<dialog id="toDoCreateDialog">
		<div id="dialog">
			<form method="post" th:action="@{/}" th:object="${todoForm}">
				<p>タスクを作成します</p>
				<input id="input-content" type="text" th:field="*{content}"/><br>
				<span class="error" th:errors="*{content}"></span>
				<input class="link-list" id="closeDialog" type="button" value="キャンセル" onclick="closeToDoCreateDialog()"/>
				<input class="link-delete" type="submit" value="作成" />
			</form>			
		</div>
	</dialog>
	<dialog id="deleteDialog">
		<p>タスクを削除します</p>
		<div id="dialog">
			<input class="link-list" id="closeDialog" type="button" value="キャンセル" onclick="closeToDoDeleteDialog()"/>
			<form method="post" th:action="@{/delete}" id="delete-btn">
				<input type="hidden" name="id" id="deleteTodoId"/>
				<input class="link-delete" type="submit" id="delete" value="削除" />
			</form>			
		</div>
	</dialog>
	
</body>

