<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ログイン画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	
	<link th:href="@{/style/login.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/index.js}" charset="utf-8"></script>
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <form th:action="@{/login}" method="post" class="form-signin">
        <h3 class="form-signin-heading">ログイン画面</h3>
        <br>
        <div th:if="${param.error}">
          <div th:if="${session.containsKey('SPRING_SECURITY_LAST_EXCEPTION')}">
            <div class="alert alert-danger">
              <i class="bi bi-exclamation-triangle-fill"></i>
              <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
            </div>
          </div>
        </div>
        <input type="text" id="username" name="username" placeholder="ユーザー名" class="form-control" required />
        <input type="password" name="password" placeholder="パスワード" class="form-control" required />
        <button class="btn form-control btn-primary" name="Submit" value="Login" type="Submit">ログイン</button>
        <div id="reset-link" onclick="onClickPWResetDialog()">パスワードの再設定</div>
		
		
      </form>
    </div>
  </div>
  <dialog id="mailSend">
  	<p>メール送信先を入力してください</p>
  	<div id="dialog">
  		<form method="post" th:action="@{/login}" th:object="${passwordChange}">
			<input type="email" id="email-form" name="passwordChange"
			 th:field="*{passwordChange}" required/><br>
	  		<input class="link-list" id="closeDialog" type="button" value="キャンセル" onclick="closePWResetDialog()"/>
  			<input class="link-update" id="mail-send" type="submit" value="メール送信"/>
  		</form>			
  	</div>
  </dialog>
</body>
</html>



