<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧画面</title>
	<link th:href="@{/style/style.css}" rel="stylesheet">
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">

</head>
<body>
	<main>
		<div class="container">
			<h1>ユーザー一覧</h1>
			<div id="header-content">
				<form th:action="@{/logout}" method="post">
				    <button class="link-edit" type="submit">ログアウト</button>
				</form>			
			</div>
			<a class="link-edit" id="userCreateBtn" th:href="@{/api/users/create(login='true')}">ユーザー作成</a><br>
			<a class="link-list" id="toDoList" th:href="@{/}" >タスク一覧</a>
			
			<!-- 検索機能 -->
			<div id="search-content">
		        <form th:action="@{/api/users/search}" method="get" th:object="${user}">
		            <div class="search-form">
						<span>ユーザー名：</span>
						<input id="searchUserName" type="text" th:field="*{userName}" size="35"/>
					</div>
					<div class="search-form">
			            <span>メールアドレス：</span>
						<input type="text" th:field="*{email}" size="35"/>
					</div>
					<div class="search-form">
			            <span>ロール：</span>
						<select th:field="*{role}">
			                <option value="">選択してください</option>
			                <option value="General">General</option>
			                <option value="Admin">Admin</option>
			            </select><br>
					</div>
					<div class="search-form">
			            <input id="searchBtn" class="link-edit" type="submit" value="検索"/>
					</div>
		        </form>
				<form th:action="@{/api/users/user}" method="get" th:object="${user}">
					<input class="link-list" type="submit" value="リセット"/>
				</form>            
		    </div>
			<div id="content">
				<div th:unless="${#lists.isEmpty(users)}">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>編集</th>
								<th>ユーザー名</th>
								<th>メールアドレス</th>
								<th>ロール</th>
								<th>作成日時</th>
								<th>最終更新日時</th>
							</tr>
						</thead>
						<tbody th:each="user: ${users}">
							<th><span th:text="${user?.id}"></span></th>	
							<th><a class="link-edit" th:href="@{user/{id}(id=${user?.id})}">編集</a></th>				
							<th><span th:text="${user?.userName}"></span></th>
							<th><span th:text="${user?.email}"></span></th>
							<th><span th:text="${user?.role}"></span></th>
							<th><span th:text="${user?.createdAt}"></span></th>
							<th><span th:text="${user?.updatedAt}"></span></th>			
						</tbody>
					</table>
				</div>
				<p id="no-user" th:if="${#lists.isEmpty(users)}">該当条件のユーザーは存在しません</p>
			</div>
			
		</div>
	</main>
	
</body>

