<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー処理画面</title>
	<link th:href="@{/style/style.css}" rel="stylesheet">
	<script th:src="@{/js/index.js}" charset="utf-8"></script>
	<link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
</head>
<body>
	<main>
		<div class="container">
			<h1>ユーザー処理</h1>
			<div id="header-content">
				<form th:action="@{/logout}" method="post">
				    <button class="link-edit" type="submit">ログアウト</button>
				</form>			
			</div>
			<div id="detail">
				<input th:unless="${role == 'Admin'}" class="link-delete delete" 
						type="button" value="アカウント削除" onclick="onClickAccountDeleteBtn(this)"/><br>
				<a class="link-list" th:href="@{/others/{id}/change-password-todo(id=${user?.id})}">パスワード変更</a>
				<br>
				<a class="link-list" th:href="@{/}">戻る</a>
			</div>
		</div>
	</main>
	<!-- アカウント削除確認ダイアログ -->
	<dialog id="accountDeleteDialog">
		<div class="dialog-container">
			<form method="post" th:action="@{/others/{id}/deleteAccount(id=${id})}" >
				<h2>アカウントを削除します</h2>
				<p>削除すると復元できません！！<br>それでも削除しますか？</p>
				<div class="buttons">
					<input class="link-list" type="button" value="キャンセル" onclick="closeAccountDeleteDialog()"/>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<input class="link-delete" type="submit" value="アカウント削除" />
				</div>
			</form>			
		</div>
	</dialog>
	
</body>
</html>
